.DS_Store
node_modules
/dist

# Compiled class file
*.class

#picture file
*.jpg
*.png
*.jpeg

# local env files
.env.local
.env.*.local

# mp3 files
*.mp3
*.mp4

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
*.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.idea
!src/
*.docx
